body {
  margin-top: 80px;
}
.btn {
  border: 1px solid black;
}
.alert, .about, .info {
  text-align: center;
}
.inputerror {
  border-color: red;
}
#results {
  margin-top: 10px;
  margin-bottom: 10px;
}